.tet{
    margin-left: 130px ;
    margin-bottom: 30px;
    border-color: #7c20bf;
    color: #7c20bf ;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
}
h4{
    text-align: center;
    width: 100%;
}
.nik{
    width: 70%;
    margin: auto;
    text-align: center;
    background-color: rgb(248, 248, 248);
}
