.general{
    background-color: #7c20bf ;
    text-align: center;
}

 /* .kik{
    opacity: 0.32;
    position: relative;
    bottom: 1rem;
    width: 100%;
}  */

.jingle{
    padding: 10px 130px;
    margin: 8px;
    color: #7c20bf;
    border-style: none;
    font-size: 18px;
    border-radius: 10px;
}
.imant{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
