.okay{
    background-color: rgb(248, 248, 248);
    padding-top: 30px;
    margin-bottom: 30px;
}

#pop{
    width: 150px;
}
/* #ilt{
    position: relative;
    width: 30px;
    height: 30px;
} */
.yiy{
    position: relative;
    display: flex;
}
.ill{
    width: 70%;
    bottom: 9rem;
    position: absolute;
}

.hih{
    position: relative;
    display: flex;
}
.irt{
    width: 70%;
    bottom: 7rem;
    left: 9.5rem;
    position: absolute;
}
.jij{
    position: relative;
    display: flex;
}
.ipt{
    width: 70%;
    bottom: 9.5rem;
    position: absolute;
}
